/* body {
    background-color: rgb(17, 12, 46);
} */
#wrapper {
    margin: auto;
	width: 30vw;
	height: 65vh;
	border: 2px solid red;
}

.result-container{
    height: 25%;
	box-sizing: border-box;
	border: 2px solid blue;
}
.selection-wrapper {
    display: flex;
    box-sizing: border-box black;
    border: 2px solid
}
button {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
}
.numbers-container {
    display: flex;
    flex-wrap: wrap;
	border: 2px solid green;
}

.operators {
    border : 2px solid pink;
}