@media screen and (min-width: 500px){
	#wrapper{
		margin-left: auto;
		margin-right: auto;
		width: 50vh;
		height: 50vh;
	}
}
#wrapper {
	border: 2px solid black;
	height: 50vh;
}
#result-container {
	display: flex;
	justify-content: center;
	height: 23%;
	border-bottom: 1px solid black;
	background-color: #A9A9A9;
}
.result {
	display: flex;
	justify-content: center;
	margin: auto;
	border: 1px solid black;
	background-color: white;
	font-size: 30px;
	height: 80%;
	width: 50%;
}
#selection-wrapper {
	background-color: #696969;
	height: 77%;
	display: flex;
}
#numbers-container {
	margin: 2% 2%
}
#numbers-container :first-child{
	background-color: #DEB887;
}
button {
	border: 1px solid black;
	font-size: 30px;
	color: black;
	border-radius: 30%;
	background-color: #FFEBCD;
}
#numbers-container > button {
	margin-top: 1%;
	height: 24.5%;
	width: 32%;
}
.operators > button {
	background-color: #DEB887;
	height: 24%;
	width: 100%;
}
.operators {
	margin: 3% 2% 1% 0;
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 1%;
}
